<template>
    <div v-loading="loading" :style="{'pointer-events': (loading ? 'none' : 'auto')}" class="rg-data_single">
        <p>
            <el-button @click="generate" type="primary" round>Generate</el-button>
        </p>
        <p>
            Инвайт код
        </p>
        <div>
            <el-input readonly v-model="code" />
        </div>
        <p>
            Полная ссылка
        </p>
        <div>
            <el-input readonly v-model="link" ref="area" />
        </div>
        <div v-if="qr">
            <p>
                QR код (полная ссылка)
            </p>
            <img :src="qr" />
        </div>
        <p>
            Короткая ссылка
        </p>
        <div>
            <el-input clearable v-model="shortLink" />
        </div>
        <div v-if="shortQr">
            <p>
                QR код (Короткая ссылка)
            </p>
            <img :src="shortQr" />
        </div>
    </div>
</template>
<script lang="ts" src="./invite-generator.ts">