extends core/templates/base.pug

block content
    if questions
        .qlinks
            each _, i in questions
                a(href='#q'+(i+1))=(i+1)
        .answers
            each question, i in questions
                .question(id='q'+(i+1)) #{(i+1)}. #{question.text} 
                .answer #{answers[i]}