@import '~@frontend/_vars.scss';

body
{
    padding: 1em;
    padding-top: 2.5em;

    background-color: $ligth-dark;
}
.answers
{
    width: 100%;
    padding: 1em;

    background-color: $ligth-blue;
}
.question
{
    font-size: .8em;

    overflow: hidden;

    max-width: 100%;
    margin-top: -50px;
    padding-top: 50px;

    white-space: nowrap;

    color: $blue;
}
.qlinks
{
    font-size: 0;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;

    transition: opacity .2s;

    opacity: .7;
    background-color: $dark;
    &:hover
    {
        opacity: 1;
    }
    a
    {
        text-decoration: none;
    }
    a,
    a:visited,
    a:active
    {
        font-size: 12px;

        display: inline-block;

        padding: 5px;

        color: rgba(white, .5);
    }
    a:hover
    {
        color: white;
    }
}
